<div class="btn-group btn-group-sm dropup" style="position: fixed; bottom: 30px; right: 30px;">
    <button type="button" class="btn" data-ng-class="classState()" data-ng-click="persist()">
        &nbsp;<span class="glyphicon glyphicon-[$ icon $]"></span>&nbsp;
    </button>
    <button type="button" class="btn" data-ng-class="classState()" disabled>
        <span>[$ count $]</span>
    </button>

    <button type="button" class="btn dropdown-toggle" data-ng-class="classState()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        &nbsp;<span class="caret"></span>&nbsp;
    </button>
    <ul class="dropdown-menu" style="right: 0!important; left: auto!important;"><!--TODO: use popover instead (better UI options)-->
        <li data-ng-repeat="po in queue.persistedQueue"><a href="#">[$ po.message $]</a></li>
        <li data-ng-show="count == 0"><a href="#">Aucune modification</a></li>
    </ul>
</div>