<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">[$ ue.name $]</span>
    </div>
    <div class="panel-body">
        <div class="row" data-ng-repeat="cours in ue.cours track by cours.id">
            <div class="col-md-1">
                <span class="label" data-ng-class="computeCoursLabelClass(cours)">[$ cours.type $]</span>
            </div>
            <div class="col-md-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: [$ computePourcentageUtiliser(cours) + '%' $]">
                        <span class="sr-only">[$ computePourcentageUtiliser(cours) $]% Complete (success)</span>
                        [$ computeHeuresUtiliser(cours) $] Heures assigner
                    </div>

                    <div class="progress-bar progress-bar-info" style="width: [$ computePourcentageLibre(cours) + '%' $]">
                        <span class="sr-only">[$ computePourcentageLibre(cours) $]% Available (info)</span>
                        [$ computeHeuresLibre(cours) $] Heures disponibles
                    </div>

                    <div class="progress-bar progress-bar-danger" style="width: [$ computePourcentageEnTrop(cours) + '%' $]">
                        <span class="sr-only">[$ computePourcentageEnTrop(cours) $]% Useless (danger)</span>
                        [$ computeHeuresEnTrop(cours) $] Heures en trop
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input class="form-control" type="number" min="0" title="[$  'voeu_' + ue.name + '_' + cours.type $]" data-ng-model="voeux[cours.id].nb_heures">
                    <span class="input-group-addon">h</span>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" data-ng-click="send()">Send to server</button>
            </div>
        </div>
    </div>
</div>