{% extends "::base.html.twig" %}

{% block script %}
    <script defer src="{{ asset('js/others/PersistentObject.js') }}"></script>
{% endblock %}

{% block angular_controller %}data-ng-controller="saisieVoeuxController"{% endblock %}
{%  block title %}Saisie des Voeux - New AGE{% endblock %}

{% block body %}
    <h2 class="page-header">Saisie des Voeux</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" data-typeahead data-display="name" data-url="{{ path('get_etapes') }}" class="form-control" autocomplete="off" title="rest-search" placeholder="Rechercher une étape"/>
            </div>
        </div>
    </div>

    <div class="row">
        <ue-view data-ue="ue" data-edit="true" data-ng-repeat="ue in ues track by ue.id"></ue-view>
    {#{% embed ':embed:panel.html.twig' %}
        {% block panelTypeAttrs %}data-ng-repeat="ue in ues track by ue.id"{% endblock %}
        {% block panelHeading %}[$ ue.name $]{% endblock %}
        {% block panelBody %}

            <div data-ng-repeat="cours in ue.cours track by cours.id">
                Nb groupes: [$ cours.nb_groupe $]<br/>
                Nb heures: [$ cours.nb_heure $]<br/>
                Type: [$ cours.type $]<br/>

                <div data-ng-repeat="voeu in cours.voeux track by voeux.id">
                    [$ voeu.utilisateur.username + ' s\'occupe de: ' + voeu.nb_heures + ' heures' $] <br/>
                </div>

                <br/>
            </div>
        {% endblock %}
    {% endembed %}#}
    </div>

{% endblock %}