{% extends "IntervenantBundle::intervenant_layout_base.html.twig" %}

{% block script %}
    <script defer src="{{ asset('js/others/PersistentObject.js') }}"></script>
{% endblock %}

{% block angular_controller %}data-ng-controller="saisieVoeuxController"{% endblock %}
{%  block title %}Saisie des Voeux - New AGE{% endblock %}

{% block body %}
    <h2 class="page-header">Saisie des Voeux</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" data-typeahead data-display="name" data-url="{{ path('get_etapes') }}" class="form-control" autocomplete="off" title="rest-search" placeholder="Rechercher une étape"/>
            </div>
        </div>
    </div>

    <persisted-state-view></persisted-state-view>
    <etape-view data-etape="etape"></etape-view>

{% endblock %}