{% extends "::base.html.twig" %}

{% block angular_controller %}data-ng-controller="saisieVoeuxController"{% endblock %}
{%  block title %}Saisie des Voeux - New AGE{% endblock %}

{% block body %}
    <h2 class="page-header">Saisie des Voeux</h2>
    <div class="row">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}