{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{%  block title %}Bilan des voeux - New AGE{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset("css/input_file.css") }}">
{% endblock %}

{% block body %}
    <h2>Bilan des voeux par enseignant</h2>
    <h3>Voeux exprimés : <span>72,85%</span></h3>

    <hr>

    <div class="col-md-12">
        <button class="col-md-2">Nom<span class="sort glyphicon glyphicon-sort"></span></button>
        <button class="col-md-1" data-toggle="tooltip" data-placement="top" title="Discipline">&nbsp;<span class="sort glyphicon glyphicon-sort"></span></button>
        <button class="col-md-2">Services dûs<span class="sort glyphicon glyphicon-sort"></span></button>
        <button class="col-md-2">Voeux<span class="sort glyphicon glyphicon-sort"></span></button>
        <button class="col-md-4">&nbsp;<span class="sort glyphicon glyphicon-sort"></span></button>
    </div>
    {% for user in users %}
        <div class="col-md-12">
            <span style="text-align: left;" class="col-md-2">{{ user.nom }} {{ user.prenom }}</span>
            <span class="col-md-1">?</span>
            <span class="col-md-2">{{ user.serviceDus }}</span>
            <span class="col-md-2">147</span>
            <span class="col-md-4">
                <div class="progress" style="height:25px;margin-top: 6px;">
                    <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="60" aria-valuemin="60" aria-valuemax="100" style="width: 80%;">
                    </div>
                </div>
            </span>
        </div>
    {% endfor %}
{% endblock %}