{# Formulaire de modification du mot de passe #}
<div class="modal fade" id="modif-profil-mdp" tabindex="-1" role="dialog" aria-labelledby="modif-profil-mdp-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modif-profil-mdp-label">Modification de mon mot de passe</h4>
			</div>
			<div class="modal-body">
				<div class="alerts-mdp"></div>
				<h5>
					<b>Ancien mot de passe :</b>
				</h5>
				<div class="row margin_bottom">
					<div class="col-md-8 col-md-offset-2">
						<input id="form-mdp-old" type="password" class="form-control" value="">
					</div>
				</div>
				<h5>
					<b>Nouveau mot de passe : </b>
				</h5>
				<div class="row margin_bottom">
					<div class="col-md-8 col-md-offset-2">
						<input id="form-mdp-new" type="password" class="form-control" value="">
					</div>
				</div>
				<h5>
					<b>Confirmation de mot de passe : </b>
				</h5>
				<div class="row margin_bottom">
					<div class="col-md-8 col-md-offset-2">
						<input id="form-mdp-conf" type="password" class="form-control" value="">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="save-mdp-profil" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-ok"></span>
					Enregistrer
				</button>
				<button id="cancel-mdp-profil" type="button" class="btn btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
					Annuler
				</button>
			</div>
		</div>
	</div>
</div>