<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Erreur lors de la sauvegarde</h3>
    <pre>[$ scope.persistError.error $]</pre>
</div>
<div class="modal-body wrapped-content">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$parent.$dismiss($parent.errorModalReason.persistAll)">Réessayer et continuer l'enregistrement</button>
    <button class="btn btn-primary" type="button" ng-click="$parent.$dismiss($parent.errorModalReason.persistThis)">Réessayer</button>
    <button class="btn btn-warning" type="button" ng-click="$parent.$dismiss($parent.errorModalReason.noPersist)">Retour</button>
</div>