{% macro display_mission(mission) %}
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>{{ mission.name }} (60h)</h4>
			</div>
			<div class="panel-body">
				<ul class="list-group">
				  <li class="list-group-item">
						<span>Type d'enseignement</span>
						<span>UE</span>
						<span>Etape</span>
						<span>Composante</span>
						<span class="badge">20 heures</span>
				  </li>
				</ul>
				<ul class="list-group">
				  <li class="list-group-item">
						<span>Type d'enseignement</span>
						<span>UE</span>
						<span>Etape</span>
						<span>Composante</span>
						<span class="badge">20 heures</span>
				  </li>
				</ul>
				<ul class="list-group">
				  <li class="list-group-item">
						<span>Type d'enseignement</span>
						<span>UE</span>
						<span>Etape</span>
						<span>Composante</span>
						<span class="badge">20 heures</span>
				  </li>
				</ul>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-default" style="width:48%" data-toggle="popover" title="A contacter" data-content="email">Contact</button>
				<button type="button" class="btn btn-success" style="width:48%">
					<span class="glyphicon glyphicon-ok"></span>
					Postuler
				</button>
			</div>
		</div>
	</div>
{% endmacro %}