{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{%  block title %}Liste des enseignements - New AGE{% endblock %}

{%  block body %}

    {% for etape in etapes %}
        <tr>
            {{ etape.name }}
        </tr>
    {% endfor %}
    {% for ue in ues %}
        <tr>
            {{ ue.name }}
        </tr>
    {% endfor %}
    <h2 class="page-header">Sélectionner une étape</h2>
    <div class="row">
        <div id="search-enseignant" class="col-md-8">
            <input class="form-control typeahead" placeholder="Nom de l'étape" aria-describedby="basic-addon1">
        </div>
        <script type="text/javascript">
            var substringMatcher = function(strs) {
                return function findMatches(q, cb) {
                    var matches, substringRegex;

                    matches = [];

                    substrRegex = new RegExp(q, 'i');

                    $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                            matches.push(str);
                        }
                    });

                    cb(matches);
                };
            };

            $('#search-enseignant .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                },
                {
                    name: 'etapes',
                    source: substringMatcher(etapes)
                });

            $('#search-enseignant .typeahead').focusout(function(){
                $('.uil-facebook-css').show();
            });
            $('.tt-selectable').click(function(){
                $('.uil-facebook-css').show();
            });
            $('#search-enseignant .typeahead').focus(function(){
                $('.uil-facebook-css').hide();
            });
        </script>
        <div class="col-md-1">
            <div class='uil-facebook-css' style='-webkit-transform:scale(0.16);position: absolute;'>
                <div></div><div></div><div></div>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-search"></span>
                Rechercher
            </button>
        </div>
    </div>
{% for ue in ues %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ ue.name }}
                    </h3>
                    <span>Responsable : {{ ue.responsable.username }}</span>
                </div>
                <div class="panel-body">
                    <b>Description de l'enseignement :</b>
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br>
                    <br>
                    <b>Description des types d'enseignements:</b>
                    <br>
                    <div class="row" style="line-height:40px;font-size:20px;">
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Le type d'enseignement ne posséde pas assez de vœux" style="color:#d9534f;"></span>
                            CM1
                        </div>
                        <div class="col-md-2">
                            1 x 15h
                        </div>
                        <div class="col-md-8"  style="margin-top:12px;line-height:15px;font-size:15px;">
                            <p>
                                <a href="#" data-toggle="ens1" data-trigger="focus" title="Lorem ipsum">Lorem ipsum</a>,
                                <a href="#" data-toggle="ens2" data-trigger="focus" title="Dolor sit"> Dolor sit</a>
                                et <a href="">2 autres</a> ont mis des vœux sur ce type d'enseignement
                            </p>
                            <div id="ens1_content" class="hide">
                                <ul class="role-selection" style="padding:0;list-style-type:none;">
                                    <li>
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        <a href="mailto:lorem.ipsum@irisa.fr">lorem.ipsum@irisa.fr</a>
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-earphone"></span> 02 21 23 24 25
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-earphone"></span> 02 21 23 24 25
                                    </li>
                                    <li style="height: 1px;margin: 9px 0;overflow: hidden;background-color: #e5e5e5;"></li>
                                    <li>
                                        <span class="glyphicon glyphicon-share-alt"></span>
                                        <a href="#">Aller vers son profil</a>

                                    </li>
                                </ul>
                            </div>
                            <script>
                                $(document).ready(function(){
                                    $('[data-toggle="ens1"]').popover({
                                        html : true,
                                        content: function() {
                                            return $('#ens1_content').html();
                                        }
                                    });
                                    $('[data-toggle="ens2"]').popover({
                                        html : true,
                                        content: function() {
                                            return $('#ens1_content').html();
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    <div class="row" style="line-height:40px;font-size:20px;">
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Le type d'enseignement ne posséde pas assez de vœux" style="color:#d9534f;"></span>
                            TD
                        </div>
                        <div class="col-md-2">
                            2 x 10h
                        </div>
                        <div class="col-md-8"  style="margin-top:12px;line-height:15px;font-size:15px;">
                            <p>
                                <a href="">Lorem ipsum</a> a mis des vœux sur ce type d'enseignement
                            </p>
                        </div>
                    </div>
                    <div class="row" style="line-height:40px;font-size:20px;">
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-ok" data-toggle="tooltip" title="Le type d'enseignements est complété à 100%" style="color:#5cb85c"></span>
                            TP
                        </div>
                        <div class="col-md-2">
                            4 x 10h
                        </div>
                        <div class="col-md-8"  style="margin-top:12px;line-height:15px;font-size:15px;">
                            <p>
                                <a href="">Lorem ipsum</a> a mis des vœux sur ce type d'enseignement
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <a href="">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        Saisie de voeux pour cette UE
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}