{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{%  block title %}Liste des enseignements - New AGE{% endblock %}

{%  block body %}

    <h2 class="page-header">Sélectionner une étape</h2>


{% endblock %}