{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{% block title %}Notifications{% endblock %}

{% block stylesheet %}

{% endblock %}

{%  block script %}

{% endblock %}


{% block body %}

        <h2 class="page-header">Mes Notifications</h2>

        <div class="row">


            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dimanche 06 Novembre 2016</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tbody>
                            <tr class="info">
                                <td>19:10</td>
                                <td><b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE <b>ACO</b>.</td>
                            </tr>
                            <tr class="info">
                                <td>17:01</td>
                                <td><b>Steven Derien</b> a désigné <b>Sébastien FERRE</b> comme responsable de l'UE <b>COMP</b>.</td>
                            </tr>
                            <tr>
                                <td>16:20</td>
                                <td>Rappel : vos voeux ne sont pas complets, il manque 51 heures à déclarer.</td>
                            </tr>
                            <tr>
                                <td>11:10</td>
                                <td>L'intervenant Jean DUPONT a choisit une mission (Mission <b>Systèmes Réseaux 001</b>). En attente de validation.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Samedi 05 Novembre 2016</h3>
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td>19:10</td>
                                <td><b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE <b>ACO</b>.</td>
                            </tr>
                            <tr>
                                <td>17:01</td>
                                <td><b>Steven Derien</b> a désigné <b>Sébastien FERRE</b> comme responsable de l'UE <b>COMP</b>.</td>
                            </tr>
                            <tr>
                                <td>16:20</td>
                                <td>Rappel : vos voeux ne sont pas complets, il manque 51 heures à déclarer.</td>
                            </tr>
                            <tr>
                                <td>11:10</td>
                                <td>L'intervenant Jean DUPONT a choisit une mission (Mission <b>Systèmes Réseaux 001</b>). En attente de validation.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vendredi 04 Novembre 2016</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>19:10</td>
                                <td><b>Noël Plouzeau</b> a ajouté un type d'enseignement à l'UE <b>ACO</b>.</td>
                            </tr>
                            <tr>
                                <td>17:01</td>
                                <td><b>Steven Derien</b> a désigné <b>Sébastien FERRE</b> comme responsable de l'UE <b>COMP</b>.</td>
                            </tr>
                            <tr>
                                <td>16:20</td>
                                <td>Rappel : vos voeux ne sont pas complets, il manque 51 heures à déclarer.</td>
                            </tr>
                            <tr>
                                <td>11:10</td>
                                <td>L'intervenant Jean DUPONT a choisit une mission (Mission <b>Systèmes Réseaux 001</b>). En attente de validation.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>

{% endblock %}