{% extends "VisiteurBundle:Default:visiteur_layout_base.html.twig" %}

{% block title %}Notifications{% endblock %}

{% block stylesheet %}

{% endblock %}

{%  block script %}

{% endblock %}


{% block body %}




        <h2 class="page-header">Mes Notifications</h2>

        <div class="row">

    {% for notifJour in notifs %}

            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ notifJour[0][0].datetime|date('d/m/Y') }}</h3>
                    </div>

                    <div class="panel-body">

                        <table class="table">

                            {% for notif in notifJour %}

                            <tr {% if notif['lu'] == 1  %} class="info" {% endif %}>
                                <td style="width: 50px">{{  notif[0].datetime|date('H:i') }}</td>
                                <td>{{  notif[0].text | raw }}</td>
                                {% if notif['lu'] == 1  %} <td style="width: 50px"><span class="label label-info">New</span></td>{% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                </div>

            </div>

    {% endfor %}
        </div>



{% endblock %}