{% block sidebar %}
	<li class="active">
        <a href="[visiteur]mon_profil.html">
            <span class="glyphicon glyphicon-wrench"></span>
            Mon profil
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-user"></span>
            Utilisateurs
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-education"></span>
            Enseignements
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-time"></span>
            Etat de l'année
        </a>
    </li>
{% endblock sidebar %}