{% block sidebar %}
	<li {% if app.request.attributes.get('_route') ==  'visiteur_homepage'%}class="active"{% endif %}> 
        <a href="{{ path('visiteur_homepage') }}">
            <span class="glyphicon glyphicon-wrench"></span>
            Mon profil
        </a>
    </li>
    <li {% if app.request.attributes.get('_route') ==  'visiteur_profils'%} class="active"{% endif %}> 
        <a href="{{ path('visiteur_profils') }}"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-user"></span>
            Utilisateurs
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="#"> {# TODO : Quand les vues seront faites ajouter les liens dans la sidebar #}
            <span class="glyphicon glyphicon-education"></span>
            Enseignements
        </a>
    </li>
    <li {% if app.request.attributes.get('_route') ==  'visiteur_etat_annee'%}class="active"{% endif %}> 
        <a href="{{ path('visiteur_etat_annee') }}">
            <span class="glyphicon glyphicon-time"></span>
            Etat de l'année
        </a>
    </li>
{% endblock sidebar %}