<div class="modal-header">
    <h3 class="modal-title" id="modal-title" data-ng-show="errm.isFormError(persistError)">Le formulaire n'est pas valide</h3>
    <h3 class="modal-title" id="modal-title" data-ng-show="errm.isRequestError(persistError)">Une erreur est survenue</h3>
</div>
<div class="modal-body">
    <div class="row" data-ng-if="errm.isFormError(persistError)">
        <div class="col-sm-12">
            <div data-uib-alert data-ng-repeat="message in errm.getFormError(persistError)" data-ng-class="'alert-danger'">[$ message $]</div>
        </div>
    </div>
    <div class="row" data-ng-if="errm.isRequestError(persistError)">
       <!-- <div class="col-sm-12">
            <div data-uib-alert data-ng-repeat="message in errm.getFormRootErrors(persistError)" data-ng-class="'alert-danger'">[$ message $]</div>
        </div>-->
    </div>
</div>
<div class="modal-body divider-top" data-ng-include="persistentObjectUrl"></div>
<div class="modal-footer wrapped-footer">
    <button class="btn btn-success" data-ng-click="modalCtrl.$dismiss('saveAll')">Enregistrer et continuer</button>
    <button class="btn btn-success" data-ng-click="modalCtrl.$dismiss('save')">Enregistrer</button>
    <button class="btn btn-warning" data-ng-click="modalCtrl.$dismiss('return')">Retour</button>
</div>
